.email-container {
  margin: 50px 0 50px 0;
  padding: 25px 15px 25px 15px;
  background-color: #f8f9fa;
  text-align: left;
  font-size: 1.1rem;
  color: #373737;
}

.email-header {
  margin-bottom: 20px;
}

.email-title {
  margin-bottom: 10px;
}

/* Bold Lable styles */
.subject-header,
.name-header,
.contact-email-header,
.message-header {
  font-weight: bold;
}

/* Date recieved */
.email-date {
  font-size: 0.80rem;
  color: #3e3e3e;
  /*opacity: 0.9;*/
  margin-top: 5px;
  background-color: #393939;
  color: rgba(255, 255, 255, 0.9) !important;
  width: fit-content;
  border-radius: 13px;
  padding: 3px 7px 3px 7px;
}

.date-recieved {
  /*opacity: 0.85;*/
}

/* Name + Email table style */
.tg {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 15px;
}
.tg td {
  padding: 0 5px 0 0;
  border-style: none;
  overflow: hidden;
  word-break: normal;
}
.tg th {
  font-weight: normal;
  padding: 0 5px 0 0;
  border-style: none;
  overflow: hidden;
  word-break: normal;
}
.tg .tg-adxo {
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}
.tg .tg-0lax {
  text-align: left;
  vertical-align: middle;
}
.tg .tg-l2oz {
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

/* Message content */
.message-header {
  margin-bottom: 5px;
}

.message-container {
  background-color: rgba(217, 217, 217, 0.5);
  color: #2b2b2b;
  padding: 15px;
  border-radius: 10px;
  width: fit-content;
}