.schedule-banner {
  padding-top: 40px;
  padding-bottom: 40px;
  /*background-color: #1abc9c;*/
  background-color: #06b9dd;
}

.schedule-btn {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  color: white;
  border-color: white;
  margin-top: 7px;
}

.schedule-btn:hover {
  border-color: white;
  background-color: white;
  color: #2b2b2b;
}

.schedule-text {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: white;
}