/* MICHAELA BANNER CSS */

/* image container */
.michaela-img {
  max-height: 600px;
  /*height: 600px;*/
  overflow: hidden;
  width: 100%;
  height: 600px;
  -webkit-background-size: 100% auto;
  background-size: 100% auto;
  background-repeat: no-repeat;
  position: relative;
}

/* the img tag itself */
.michaela-img > img {
  position: absolute;
  bottom: 0;
  right: 0;
}

/* all of the <p> tags inside class .michaela-img */
.michaela-img > h2 {
  text-shadow: 0px 0px 8px rgb(53, 53, 53);
}

/* img text overlay - top line */
.img-top-text {
  position: absolute;
  left: 100px;
  top: 315px;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 34px;
  font-weight: 700;
}

/* img text overlay - line 2 */
.img-middle-text {
  position: absolute;
  left: 100px;
  top: 375px;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 34px;
  font-weight: 700;
}

/* img text overlay - line 3 */
.img-bottom-text {
  position: absolute;
  left: 100px;
  top: 440px;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 34px;
  font-weight: 700;
}