.services-title-container {
  height: 300px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* adds a tint over the bg img */
.services-title-container:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
}

.services-title-text {
  display: block;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  /*font-size: 42pt;*/
  letter-spacing: 5px;
  color: white;
  /*opacity: 0.9;*/
  background-color: transparent;
  z-index: 100 !important;
}